/* Title Shop */
.title-shop {
    margin-top: 100px;
    background-color: #f1f1f1;
}

.title-shop h1 {
    padding: 35px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 5px;
}

.title-shop h1 a {
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}

.title-shop h1 a:hover {
    color: var(--red2);
}
/* End Title Shop */

/* Product */

/* Left */
.product {
    margin-top: 70px;
}

.product-images #img-big {
    width: 100%;
    padding-bottom: 15px;
}

.product-images .product-image img {
    max-width: 100%;
}

.product-images .product-image img:hover {
    cursor: pointer;
    border: 1px solid var(--red);
}

@media (max-width: 992px) {
    .product-images .product-image {
        display: none;
    }
}
/* End left */

/* Right */
.products-info-detail h2 {
    font-size: 28px;
}

p, span {
    font-size: 18px;
}

.products-info-detail p {
    margin-bottom: 5px;
}

.products-info-detail .price {
    font-size: 24px;
    color: var(--red2);
    font-weight: 600;
}

.products-info-detail .price span {
    font-size: 24px;
}

.products-info-detail ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.products-info-detail ul li {
    display: flex;
    padding: 10px 6px;
    border: 1px solid var(--grey2);
    border-bottom: none;
}

.products-info-detail ul li:last-child {
    border-bottom: 1px solid var(--grey2);
}

.label {
    width: 30%;
}

.des {
    border-left: 1px solid var(--grey2);
    padding-left: 7px;
}

.btn {
    border: 0;
    background-color: transparent;
}

.btn:focus {
    box-shadow: none;
}

.btn span {
    transition: 0.3s ease;
}

.btn:hover span {
    color: var(--red2);
}

.btn i {
    color: var(--red);
}

.modal#modal1{
    --bs-modal-width: 1000px;
}

#send {
    background-color: var(--red);
    border: none;
}

#btn-buy {
    margin-top: 20px;
    display: block;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 100px;
    color: #fff;
    background-color: var(--pink);
    transition: 0.3s ease;
}

#btn-buy:hover {
    background-color: var(--red);
}

.share-pay {
    margin-top: 30px;
}

.share-pay p {
    margin: 10px 0;
}

.share-pay #share img {
    width: 30px;
    height: 30px;
}

.share-pay #pay img {
    width: 30px;
    height: 30px;
}

.swal-modal {
    background-color: #fff;
    opacity: 1;
}

/* End right */
/* End product */

/* Review */
.review {
    margin-top: 100px;
    border: 1px solid var(--grey2);
}

.content-review div {
    font-size: 18px;
}

.content-review {
    padding: 20px;
}

.label-content {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--grey2);
}

.details-content {
    margin-top: 10px;
}

.label-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
    cursor: pointer;
}

.label-content h3:hover{
    color: var(--red);
}

.customer-review {
    display: none;
    margin: 0 auto;
    padding: 20px 0;
    border: 1px solid var(--grey2);
}

.customer-review h3 {
    font-size: 20px;
}

.customer-review p {
    font-size: 14px;
}

.shipping {
    display: none;
}

.shipper {
    flex: 0 0 20%;
}

.shipper img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.ship-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* End review */

/* Related products */
.related-products {
    margin-top: 100px;
}

.related-products h2,
.related-products .hope {
    text-align: center;
}
/* End related products */
