/* Title Shop */
.title-shop {
    margin-top: 100px;
    background-color: #f1f1f1;
}

.title-shop h1 {
    padding: 35px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    word-spacing: 5px;
}

.title-shop h1 a {
    text-decoration: none;
    color: #212529;
    cursor: pointer;
}

.title-shop h1 a:hover {
    color: var(--red2);
}
/* End Title Shop */

/* Grid Shop */
.grid-shop {
    margin-top: 50px;
}

/* Boxes info */
.boxes-info {
    padding-left: 0;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--grey2);
    border-radius: 15px;
    margin-bottom: 20px;
}

.box-info span {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid var(--grey2);
}

.box-info .boxes-check {
    padding: 16px 0;
}

.boxes-check .form-check {
    padding: 6px 0;
}

.boxes-check .form-check:hover {
    color: var(--red);
}

.boxes-check .form-check input,
.boxes-check .form-check label {
    cursor: pointer;
}

.boxes-check .form-check input:checked {
    background-color: var(--pink);
    border-color: var(--pink);
}

.boxes-check .search-category {
    margin-top: 5px;
    width: 100%;
    border: 1px solid var(--grey2);
    border-radius: 5px;
    background-color: transparent;
    color: var(--grey);
    padding: 5px 10px;
}

.boxes-check .search-category:hover {
    color: var(--pink);
    border-color: var(--pink);
}

.boxes-check #filter {
    background-color: transparent;
    -webkit-appearance: none;
    height: 4px;
    width: 100%;
    border: 1px solid var(--pink);
    border-radius: 999px;
}

#filter::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: e-resize;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--pink);
}

.boxes-check p {
    margin: 5px 0;
    font-size: 16px;
    opacity: 0.8;
}

.boxes-check p #change-price {
    border: none;
    font-weight: 400;
    font-size: 15px;
}

.boxes-check .filtered {
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
    transition: 0.3s ease;
}

.boxes-check .filtered:hover {
    color: var(--red);
}

.boxes-check .rate {
    text-decoration: none;
}

.boxes-check .rate i {
    color: var(--orange);
}

.boxes-check .rate span {
    border: none;
    color: #212529;
    padding-left: 5px;
    font-size: 16px;
    transition: 0.3s ease;
}

.boxes-check .rate:hover span {
    color: var(--red);
}

.products-feature {
    width: 86%;
    margin: 0 auto;
}

.product-feature {
    padding: 10px 0;
}

.products-feature .product-feature{
    display: flex;
    justify-content: center;
}

.product-fea-img {
    flex: 50%;
    text-align: center;
}

.products-feature .product-feature img {
    max-width: 80px;
    max-height: 112px;
    border-radius: 10px;
}

.product-fea-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.product-fea-detail a {
    font-size: 15px;
    text-decoration: none;
    color: #212529;
    font-weight: 700;
    transition: 0.3s ease;
}

.product-fea-detail a:hover {
    color: var(--red);
}

.product-fea-detail p {
    font-size: 15px;
    opacity: 0.6;
}

/* End Boxes info */

/* End Grid Shop */
