.accordion {
    
    display: flex;
    width: 90%%;
    margin:0 auto;
    margin-top: 150px;
    box-sizing: border-box;
}

.info img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.htitle
{
    position: relative;
    margin: 10px 20px;
}

.htitle h2
{
    font-size: 40px;
}

.htitle h3
{
    font-size: 15px;
    font-style: italic;
}
.htitle h3 .link
{
    color: var(--red);
}
.accordion .contentBx
{
    position: relative;
    margin: 10px 20px;
}
.accordion .contentBx .label
{
    position: relative;
    padding: 10px;
    color: white;
    background: var(--pink);
    cursor: pointer;
    border-radius: 5px;
}
.accordion .contentBx .label::before
{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
    font-weight: 500px;
    transition : 0.3s;
}
.accordion .contentBx.active .label::before
{
    top: 10%;
    right: 20px;
    transform: rotate(135deg);
    transition: 0.3s;
}
.accordion .contentBx .content
{
    position: relative;
    padding: 5px;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0%;
}
.accordion .contentBx.active .content
{
    height: 130px;
    padding: 10px;
    opacity: 100%;
}

@media (max-width: 990px) {
    .accordion .contentBx.active .content{
        height: 275px;
    }
    .accordion{
        display: block;
    }
}

.info
{
    margin-left: 30px;
    margin-right: 30px;
}
.info img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.info .info-detail i {
    color: var(--red2);

}

.info .info-detail a {
    text-decoration: none;
    color: var(--red);
}

.info .info-detail a:hover {
    color: var(--red);
    text-decoration: underline;
}
