.navbar-brand img {
    max-width: 250px;
    max-height: 50px;
}

#vnt-content .about:nth-child(odd) .img{
	float: right;
}
#vnt-content .about:nth-child(odd) .caption{
	float: left;
}
#vnt-content .about:nth-child(even) .img{
	float: left;
}
#vnt-content .about:nth-child(even) .caption{
	float: right;
}
/* #vnt-content .about .tend.w a{
	color:#ffffff;
}
#vnt-content .about .tend.w a:hover{
	color:#f1bc7a;
}
#vnt-content .about .des.w{
	color:#ffffff;
} */
.about{
	position: relative;
}
.about:after{
	content: "";
	display: block;
	clear: both;
}
.about .img{
	width: 100%;
	max-width: 50%;
	position: relative;
}
.about .img img{
	width: 100%;
}
.about .captionWrap{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	width: 100%;
}
.about .caption{
	width: 50%;
    padding: 150px;
}
.about .tend{
	margin-bottom: 15px;
}
.about .tend a{
	display: block;
	font-size: 45px;
	line-height: 55px;
	font-weight: normal;
	color:#53382c;
	text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: 0.2s ease;
}
.about .tend a:hover{
	color: var(--red);
}
.about .des{
	font-size: 15px;
	line-height: 23px;
	overflow: hidden; 
}
.about .link{
	margin-top: 25px;
}

.about .link a {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    color: #b22830;
    text-transform: uppercase;
    border: solid 1px var(--red);
    padding: 7px 63px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s ease;
}
.about .link a:hover{
	background: var(--red);
	color:#ffffff;
}
.about.bg1{
	background: #ffffff;
}
.about.bg1 .img:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 59%,rgba(255,255,255,0) 100%);
	z-index: 1;
	pointer-events: none;
}

/* Blog 2 */
.bg2 .captionWrap{
	color: #ffffff;
}
.bg2 .tend a{
	color: #ffffff;
}
.about.bg2{
	background: #bd945d;
}
.about.bg2 .img:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right, rgba(255,255,255,0) -1%,rgba(255,255,255,0) 0%,rgba(222,201,173,0) 50%,rgba(192,152,100,1) 95%,rgba(189,148,93,1) 99%);
	z-index: 1;
	pointer-events: none;
}
.about.bg3{
	background: #ffffff;
}
.about.bg3 .img:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 59%,rgba(255,255,255,0) 100%);
	z-index: 1;
	pointer-events: none;
}

footer{
    margin-top: 0px;
}
/*=================================================*/
/* .aboutWrap{
	background: #e9e9e9;
	position: relative;
	margin-bottom: 35px;
}
.aboutWrap:after{
	content: "";
	display: block;
	clear: both;
}
.aboutWrap .img{
	float: left;
	position: relative;
}
.aboutWrap .img img{
	height: 510px;
}
.aboutWrap .img:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(to right, rgba(233,233,233,0) 1%,rgba(233,233,233,0) 41%,rgba(233,233,233,1) 100%);
}
.aboutWrap .captionWrap{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
} */
