.form-contact {
    width: 80%;
    margin:130px auto;
}

.form-contact input,
.form-contact #pay {
    border-radius: 3px;
    border: 1px solid var(--grey2);
    display: inline-block;
    width: 100%;
    margin: 7px 0;
    padding: 2px 0;
}

.info img {
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.info .info-detail i {
    color: var(--red);
}

.info .info-detail a {
    text-decoration: none;
    color: var(--pink);
}

.info .info-detail a:hover {
    color: var(--red);
}

.form-contact h2
{
    font-size: 30px;
    font-weight:  500;
}

.form-contact h2:hover
{
    color: var(--red);
}

.inputBox
{
    position: relative;
    margin-bottom: 25px;
}
.inputBox.w50
{
    width: 100%;
}
.inputBox.w100
{
    width: 100%;
}
.inputBox input,
.inputBox textarea
{
    width: 100%;
    resize: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;
}

.inputBox.w100 textarea {
    height: 100px;
}

.inputBox span
{
    position : absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    font-weight: 400;
    color: #333;
    transition: 0.3s;
}
.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--red);
}
input[type=submit]
{
    background-color: #fff;
    border: solid 1px var(--red);
    color: var(--red);
    width: 100px;
    height: 30px;
    float: right;
    font-weight: 400;
}

input[type=submit]:hover
{
    background-color: var(--red);
    color: #fff;
}
